@import 'partials/base';

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
}

body > .container {
  padding-top: 60px;
}

.navbar {
  background: $theme-color;
  border: 0;
  border-bottom: 1px solid darken($theme-color, 5%);

  .navbar-brand {
    color: $highlight-color;
    &:hover {
      color: darken($highlight-color, 10%);
    }
  }

  .navbar-nav > li > a {
    color: darken($theme-color, 50%);
    font-weight: $regular;

    &:hover {
      color: darken($theme-color, 60%);
    }
  }
}

.footer {
  position: absolute;
  bottom: 0;
  background: $theme-color;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-top: 1px solid darken($theme-color, 5%);

  .social {
    float: left;
    font-size: 24px;

    a {
      color: darken($theme-color, 30%);
      margin-right: 5px;

      &:hover {
        color: darken($theme-color, 50%);
      }
    }
  }

  .right {
    float: right;
    font-size: 14px;
  }

  a {
    color: $highlight-color;
    &:hover {
      color: darken($highlight-color, 10%);
    }
  }
}
