nav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header
      button.navbar-toggle(type='button' data-toggle='collapse' data-target='#navbar')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='#')= title
    #navbar.collapse.navbar-collapse
      ul.nav.navbar-nav
        li
          a(href='#') Home
        li
          a(href='#') About
        li
          a(href='#') Blog
        li
          a(href='#') Contact
      .col-sm-3.col-md-3
        form.navbar-form(role='search')
          .input-group
            input.form-control(type='text' placeholder='Search' name='q')
            .input-group-btn
              button.btn.btn-default(type='submit')
                span.glyphicon.glyphicon-search
      ul.nav.navbar-nav.navbar-right
        li.dropdown
          a.dropdown-toggle(data-toggle='dropdown' href='#') Account #[span.caret]
          ul.dropdown-menu
            li
              a(href='#') Sign Up
            li
              a(href='#') Login
